################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EF6CodeFirstApporach/bin
/EF6CodeFirstApporach/obj
/EF6CodeFirstApporach.Tests
/packages
