@model  IEnumerable<EF6CodeFirstApporach.ViewModel.EnrollmentDateGroup>

@{
    ViewBag.Title = "About Students";
}

<h1>Student Body Stats</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(m=>m.EnrollmentDate)
        </th>
        <th>
            @Html.DisplayNameFor(m => m.StudentCount)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.EnrollmentDate
            </td>
            <td>
                @item.StudentCount
            </td>
        </tr>
    }

</table>

